<!DOCTYPE html>
<html lang="en">
<head>
    <title>html page</title>
    <style>
        h1
{  background:linear-gradient(360deg,yellow,red,pink,blue,white,brown,green,indigo,violet);
   animation: nvn 2s 1s infinite forwards linear;
   color:yellow;
   text-align: center;
   border-radius: 45px;
   
}
@keyframes nvn {
    0%{
        filter: hue-rotate(0deg);
    }
    25%{
        filter: hue-rotate(90deg);
    }
    50%{
        filter: hue-rotate(180deg);
    }
    75%{
        filter: hue-rotate(270deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
    </style>
</head>
<body>
   
        <h1>
            Naveen Tiru Dev
        </h1>
</body>
</html>